*   {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body    {
    background-color: #F6DCAC;
}

.title-card {
    background-color: #01204E;
    padding: 4px;
    margin: 4px;
}


.title  {
    background-color: #028391;
    padding: 10px;
    margin: 8px 25px;
    text-align: center;
    color: whitesmoke;
}

.layer  {
    background: #028391;
    padding: 4px;
    margin: 4px px;
}

.lasagna,
.pie,
.ribs    {
    background-color: whitesmoke;
    padding: 5px;
    margin: 8px 150px;
    text-align: center;
}

