*   {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body    {
    background-color: beige;
}

.layer.title {
    
}

.title  {
    background-color: white;
    padding: 10px;
    margin: 16px 50px;
    text-align: center;
}

.lasagna,
.pie,
.ribs    {
    background-color: white;
    padding: 5px;
    margin: 8px 150px;
    text-align: center;
}

