*   {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body    {
    background-color: #DFD0B8;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-card {
    background-color: #153448;
    padding: 4px;
    margin: 4px;
}

.image-card {
    background-color: #153448;
    padding: 30px;
    margin: 15px 10px;
}

.title  {
    background-color: #3C5B6F;
    padding: 10px;
    margin: 8px 25px;
    text-align: center;
    color: whitesmoke;
}

.layer  {
    background: #3C5B6F;
    padding: 4px;
    margin: 50px 100px;
}

.description,
.ingredients,
.steps,
.text    {
    background-color: #948979;
    padding: 40px;
    margin: 8px 10px;
    text-align:justify;
    color: whitesmoke;
}

a:link {
    color:whitesmoke;
}

a:visited {
    color:whitesmoke;
}